.results-container {
    width: 320px;
    max-height: 200px;
    overflow-y: auto;
    background: #181818;
    margin-bottom: 20px;
    border-radius: 10px;
}

.result-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #282828;
    transition: 0.3s;
}

.result-item:hover {
    background: #282828;
}

.result-item img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 15px;
}

.result-info h4 {
    font-size: 14px;
    margin: 0;
    color: white;
}
